/* language selection classes */

.languagescontainer{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.language{
    max-width: 5rem;
    max-height: 2.5rem;
    border-radius: 0.25rem;
}

.language:hover{
    cursor: pointer;
    scale: 1.05;
}

.selectedlanguage{
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
}

.selectedlanguage:hover{
    cursor: default;
    scale: 1;
}

/* navigation classes */

.header{
    background-color: rgb(233, 233, 233);
}

.navigationheader{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.navigationitem{
    font-size: 2rem;
    color: rgb(59, 59, 59);
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigationitem:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
}

/* introduction classes */

.title {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.5rem;
}

.name {
    font-size: 4rem;
    margin-top: -1.5rem;
}

.description {
    font-size: 1.25rem;
    text-align: justify;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

/* projects classes */

.paddingfive {
    padding-left: 5rem;
    padding-right: 5rem;
}

.project {
    border-style: solid;
    border-radius: 1rem;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.project:hover{
    scale: 1.025;
}

.projectdescription{
    flex: 60%;
    display: flex;
    flex-direction: column;
}

.year {
    margin-top: -1rem;
    color: hsl(0, 0%, 25%);
}

.buttons {
    display: flex;
}

.mbutton{
    cursor: pointer;
    margin: .5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: white;
    border-color: black;
    border-radius: .5rem;
    border-style: solid;
    flex-grow: 2;
}

.mbutton:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.gamelanguage {
    font-weight: bold;
    font-style: oblique;
    flex-grow: 5;
}

/* competences classes */

.competences{
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.listtitle {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: bold;
    border-top-color: rgb(145, 144, 144);
    border-top-width: 0.1rem;
    border-top-style: solid;
    font-family:'Courier New', Courier, monospace;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-bottom: 2rem;
}

.listelement:hover{
    scale: 1.1;
}

/* contact classes */

.contact {
    background-color: rgb(226, 226, 226);
    margin: -0.5rem;
    margin-bottom: -1.5rem;
}

.contacttext {
    color:rgb(105, 105, 105);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contactlist {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding-bottom: 5rem;
}

.contacticon{
    text-align: center;
}

.contacticon:hover{
    scale: 1.1;
    cursor: pointer;
}

/* game pages classes */

.gamepage {
    display: grid;
    grid-template-rows: 60% 50% 30%;
    padding-bottom: 7rem;
}

.gametitle {
    display: grid;
    grid-template-columns: 60% 40%;
}
.gamename {
    text-align: center;
    vertical-align: middle;
    padding: 2rem;
    font-size: 2.5rem;
}

.gamebutton {
    font-size: 2rem; 
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}